.cart-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}
.cart-icon{
    width: 16%;
}
.cart-icon>img{
width: 100%;
}
.keep-shoppingBtn{
    color: white;
    background: var(--primary);
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
}
.cart-msg{
    padding: 13px 0px;
}
.cart-row{
    display: flex;
    align-items: center;
    margin: 7px 0px;
    background: #fff;
    margin-top: 0px;
}
img{
    width: 100%;
}
.imgContainer{
    width: 100px;
}
.main-cart-container{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    align-items: flex-start;
}
.right{
    background:#fff;
    width: 33%;
    padding: 9px 21px;
}
.cart-left{
    width: 66%;
    /* background:#fff; */
}
.right-headding{
    padding: 9px 0px;
    color: #878787;
    font-weight: 500;
    border-bottom: 1px solid #f0f0f0;
}
.desc{
    margin-left: 18px;
    margin-top: 5px;
}
.bg{
    background: #f1f3f6;
    padding: 25px 25px;
}