.cart-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}
.cart-icon{
    width: 16%;
}
.cart-icon>img{
width: 100%;
}
.keep-shoppingBtn{
    color: white;
    background: var(--primary);
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
}
.cart-msg{
    padding: 13px 0px;
}
.cart-row{
    display: flex;
    align-items: center;
}
img{
    width: 100%;
}
.imgContainer{
    width: 100px;
}
.main-cart-container{
    display: flex;
    justify-content: space-between;
}
.right{
    width: 30%;
}
.left{
    width: 66%;
}
.right-headding{
    padding: 9px 0px;
    color: #878787;
    font-weight: 500;
    border-bottom: 1px solid #f0f0f0;
}
.desc{
    margin-left: 18px;
    margin-top: 5px;
}