.portfolio-block h2.category-title{
    text-transform: uppercase;
  }
  .items .item{
    display: inline-block;
  }
  button.btn-cat {
  
    font-size: 14px;
    line-height: 16px;
    background: #fff;
    border: none;
    margin: 0px 3px;
    cursor: default;
    padding: 16px 8px;
    font-weight: 500;
  }
  .categories-filter{
    border-bottom: 1px solid #e1e1e1;
    border-radius: 13px;
  }
  .btn-cat.active-link{
    border: 1px;
    color: #419926;
    border-bottom: 2px solid #419926;
    text-shadow: 0 0 0 #111;
    cursor: pointer;
  }