* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>;
    font-style: normal; */
}

:root {
    --primary: #5faf4b;
    --text-color: #ffe200
        /* --primary:red; */
}

a {
    text-decoration: none;
}
.error-message{
    color: red;
}
.category {
    justify-content: center;
    align-items: center;
    display: flex;
    text-transform: uppercase;
    border: none;
}

.category-name {
    color: #404040;
    font-size: 13px;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 8px;
    display: block;
}

.category-img {
    width: 100px;
    height: 100px;
    /* width: 190px;
    height: 143px; */
}

.banner-container img {
    height: 440px;
    width: 100%;
}

/* .spaceing {
    padding: 22px 61px;
} */

.small-btn {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 14px;
}

.sub-headding-dropdown {
    line-height: 3rem;
    font-weight: 500;
    font-size: 15px;
    border-radius: 6px;
    padding-left: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d8d8d8;
    margin: 10px 0px;
    text-transform: uppercase;
}

.spaceing,.spacing {
    /* margin: 0px 113px;
    margin-top: 40px; */
    padding: 98px 113px;
    /* margin: 19px 60px; */
}

.headding {
    padding: 51px 0px;
}
.errorMsg{
    color: red;
}
.disabled {
    background: #c0e7b6;
}